In [2]:
import pandas as pd
import numpy as np
import re, os, math, sklearn, datetime, pickle

In [113]:
df_movies = pd.read_csv('movies.csv')
df_ratings = pd.read_csv('ratings.csv')
df_tags = pd.read_csv('tags.csv')

In [96]:
df_movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [97]:
df_ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

### 1. Filter movies with 5 or more ratings

#### Create a dataframe (df_movie_ratings_count_min5) that stores each movie that has more than 4 ratings along with the number of its ratings

Group the ratings_df by the movieId and count the rows with the same movieId

In [100]:
df_movie_ratings_count = ratings_df.groupby('movieId').count()

Keep only the index and the first column and rename the first column for beautifying purposes

In [105]:
df_movie_ratings_count = df_movie_ratings_count.iloc[:,:1]

df_movie_ratings_count.rename(columns = {'userId':'count'}, inplace = True)

In [106]:
df_movie_ratings_count.head(33)

         count
movieId
1          215
2          110
3           52
4            7
5           49
6          102
7           54
8            8
9           16
10         132
11          70
12          19
13           8
14          18
15          13
16          82
17          67
18          20
19          88
20          15
21          89
22          36
23          16
24          28
25          76
26          13
27           9
28          11
29          38
30           3
31          38
32         177
34         128

In [109]:
df_movie_ratings_count_min5= df_movie_ratings_count.loc[df_movie_ratings_count['count'] > 4]

In [110]:
df_movie_ratings_count_min5.head(40)

         count
movieId
1          215
2          110
3           52
4            7
5           49
6          102
7           54
8            8
9           16
10         132
11          70
12          19
13           8
14          18
15          13
16          82
17          67
18          20
19          88
20          15
21          89
22          36
23          16
24          28
25          76
26          13
27           9
28          11
29          38
31          38
32         177
34         128
36          67
39         104
41          15
42           7
43           8
44          46
45          32
46          15

In [177]:
print(len(df_movie_ratings_count_min5.index))
print(len(df_movie_ratings_count.index))
print(len(df_movie_ratings_count.index)-len(df_movie_ratings_count_min5.index), "movies have been removed")

3650
9724
6074 movies have been removed

#### Create df_ratings_min5 and copy only the movies from df_ratings whose id belongs in df_movie_ratings_count_min5

In [139]:
df_ratings_min5 = df_ratings.loc[df_ratings['movieId'].isin(df_movie_ratings_count_min5.index)]

In [169]:
print(df_ratings_min5.shape)
print(df_ratings.shape)

(90274, 4)
(100836, 4)

#### Check that movies with fewer than 5 ratings have indeed been removed in df_ratings_min5

In [164]:
df_movies.loc[df_movies['movieId']==40]

    movieId                            title genres
36       40  Cry, the Beloved Country (1995)  Drama

In [162]:
df_ratings.loc[df_ratings['movieId']==40]

       userId  movieId  rating   timestamp
47991     311       40     3.5  1057854804
84607     544       40     5.0   850688776

In [165]:
df_ratings_min5.loc[df_ratings_min5['movieId']==40]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

### 2. Split data 90/10

In [203]:
X_train = df_ratings_min5.sample(frac=0.9).reset_index(drop=True)
X_test = df_ratings.sample(frac=0.1).reset_index(drop=True)

In [204]:
print(X_train.shape)
print(X_test.shape)

(81247, 4)
(10084, 4)

#### Φτιάχνω ένα array με όλες τις διαφορετικές ταινίες

In [6]:
movies_list = list(set(ratings_df.movieId))

In [7]:
len(movies_list)

9724

In [15]:
movies_listss = list((ratings_df.movieId))

In [18]:
movies_listss

[1,
 3,
 6,
 47,
 50,
 70,
 101,
 110,
 151,
 157,
 163,
 216,
 223,
 231,
 235,
 260,
 296,
 316,
 333,
 349,
 356,
 362,
 367,
 423,
 441,
 457,
 480,
 500,
 527,
 543,
 552,
 553,
 590,
 592,
 593,
 596,
 608,
 648,
 661,
 673,
 733,
 736,
 780,
 804,
 919,
 923,
 940,
 943,
 954,
 1009,
 1023,
 1024,
 1025,
 1029,
 1030,
 1031,
 1032,
 1042,
 1049,
 1060,
 1073,
 1080,
 1089,
 1090,
 1092,
 1097,
 1127,
 1136,
 1196,
 1197,
 1198,
 1206,
 1208,
 1210,
 1213,
 1214,
 1219,
 1220,
 1222,
 1224,
 1226,
 1240,
 1256,
 1258,
 1265,
 1270,
 1275,
 1278,
 1282,
 1291,
 1298,
 1348,
 1377,
 1396,
 1408,
 1445,
 1473,
 1500,
 1517,
 1552,
 1573,
 1580,
 1587,
 1617,
 1620,
 1625,
 1644,
 1676,
 1732,
 1777,
 1793,
 1804,
 1805,
 1920,
 1927,
 1954,
 1967,
 2000,
 2005,
 2012,
 2018,
 2028,
 2033,
 2046,
 2048,
 2054,
 2058,
 2078,
 2090,
 2093,
 2094,
 2096,
 2099,
 2105,
 2115,
 2116,
 2137,
 2139,
 2141,
 2143,
 2161,
 2174,
 2193,
 2253,
 2268,
 2273,
 2291,
 2329,
 2338,
 2353,
 2366,
 2387,
 2389,
 2395,
 2406,
 2414,
 2427,
 2450,
 2459,
 2470,
 2478,
 2492,
 2502,
 2528,
 2529,
 2542,
 2571,
 2580,
 2596,
 2616,
 2617,
 2628,
 2640,
 2641,
 2644,
 2648,
 2654,
 2657,
 2692,
 2700,
 2716,
 2761,
 2797,
 2826,
 2858,
 2872,
 2899,
 2916,
 2944,
 2947,
 2948,
 2949,
 2959,
 2985,
 2987,
 2991,
 2993,
 2997,
 3033,
 3034,
 3052,
 3053,
 3062,
 3147,
 3168,
 3176,
 3243,
 3247,
 3253,
 3273,
 3386,
 3439,
 3440,
 3441,
 3448,
 3450,
 3479,
 3489,
 3527,
 3578,
 3617,
 3639,
 3671,
 3702,
 3703,
 3729,
 3740,
 3744,
 3793,
 3809,
 4006,
 5060,
 318,
 333,
 1704,
 3578,
 6874,
 8798,
 46970,
 48516,
 58559,
 60756,
 68157,
 71535,
 74458,
 77455,
 79132,
 80489,
 80906,
 86345,
 89774,
 91529,
 91658,
 99114,
 106782,
 109487,
 112552,
 114060,
 115713,
 122882,
 131724,
 31,
 527,
 647,
 688,
 720,
 849,
 914,
 1093,
 1124,
 1263,
 1272,
 1275,
 1302,
 1371,
 1587,
 2018,
 2080,
 2090,
 2105,
 2288,
 2424,
 2851,
 3024,
 3210,
 3703,
 3949,
 4518,
 5048,
 5181,
 5746,
 5764,
 5919,
 6238,
 6835,
 7899,
 7991,
 26409,
 70946,
 72378,
 21,
 32,
 45,
 47,
 52,
 58,
 106,
 125,
 126,
 162,
 171,
 176,
 190,
 215,
 222,
 232,
 235,
 247,
 260,
 265,
 296,
 319,
 342,
 345,
 348,
 351,
 357,
 368,
 417,
 441,
 450,
 457,
 475,
 492,
 509,
 538,
 539,
 553,
 588,
 593,
 595,
 599,
 608,
 648,
 708,
 759,
 800,
 892,
 898,
 899,
 902,
 904,
 908,
 910,
 912,
 914,
 919,
 920,
 930,
 937,
 1025,
 1046,
 1057,
 1060,
 1073,
 1077,
 1079,
 1080,
 1084,
 1086,
 1094,
 1103,
 1136,
 1179,
 1183,
 1188,
 1196,
 1197,
 1198,
 1199,
 1203,
 1211,
 1213,
 1219,
 1225,
 1250,
 1259,
 1265,
 1266,
 1279,
 1282,
 1283,
 1288,
 1291,
 1304,
 1391,
 1449,
 1466,
 1500,
 1517,
 1580,
 1597,
 1617,
 1641,
 1704,
 1719,
 1732,
 1733,
 1734,
 1834,
 1860,
 1883,
 1885,
 1892,
 1895,
 1907,
 1914,
 1916,
 1923,
 1947,
 1966,
 1967,
 1968,
 2019,
 2076,
 2078,
 2109,
 2145,
 2150,
 2174,
 2186,
 2203,
 2204,
 2282,
 2324,
 2336,
 2351,
 2359,
 2390,
 2395,
 2406,
 2467,
 2571,
 2583,
 2599,
 2628,
 2683,
 2692,
 2712,
 2762,
 2763,
 2770,
 2791,
 2843,
 2858,
 2874,
 2921,
 2926,
 2959,
 2973,
 2997,
 3033,
 3044,
 3060,
 3079,
 3083,
 3160,
 3175,
 3176,
 3204,
 3255,
 3317,
 3358,
 3365,
 3386,
 3408,
 3481,
 3489,
 3508,
 3538,
 3591,
 3788,
 3809,
 3851,
 3897,
 3911,
 3967,
 3996,
 4002,
 4014,
 4020,
 4021,
 4027,
 4029,
 4033,
 4034,
 4074,
 4121,
 4144,
 4166,
 4226,
 4239,
 4246,
 4252,
 4260,
 4273,
 4308,
 4347,
 4381,
 4641,
 4741,
 4765,
 4881,
 4896,
 4902,
 4967,
 1,
 21,
 34,
 36,
 39,
 50,
 58,
 110,
 150,
 153,
 232,
 247,
 253,
 261,
 265,
 266,
 290,
 296,
 300,
 316,
 318,
 344,
 349,
 357,
 364,
 367,
 380,
 410,
 457,
 474,
 475,
 515,
 527,
 531,
 534,
 588,
 589,
 590,
 592,
 594,
 595,
 596,
 597,
 608,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 13,
 15,
 16,
 17,
 19,
 21,
 22,
 24,
 25,
 26,
 27,
 31,
 32,
 34,
 36,
 41,
 43,
 45,
 46,
 47,
 50,
 54,
 60,
 61,
 62,
 65,
 66,
 76,
 79,
 86,
 87,
 88,
 89,
 92,
 93,
 95,
 100,
 102,
 104,
 105,
 110,
 112,
 113,
 126,
 135,
 140,
 141,
 145,
 146,
 150,
 151,
 153,
 158,
 159,
 160,
 161,
 163,
 165,
 168,
 170,
 171,
 174,
 177,
 179,
 180,
 181,
 185,
 186,
 189,
 191,
 195,
 196,
 201,
 204,
 205,
 207,
 208,
 209,
 210,
 212,
 216,
 217,
 218,
 219,
 222,
 224,
 225,
 230,
 231,
 234,
 236,
 237,
 239,
 240,
 243,
 248,
 250,
 251,
 252,
 253,
 254,
 256,
 257,
 258,
 261,
 262,
 265,
 266,
 267,
 270,
 271,
 273,
 274,
 276,
 277,
 279,
 281,
 282,
 288,
 289,
 291,
 292,
 293,
 296,
 302,
 303,
 304,
 310,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 327,
 329,
 330,
 332,
 333,
 336,
 337,
 339,
 340,
 342,
 343,
 344,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 364,
 366,
 367,
 368,
 370,
 371,
 374,
 377,
 378,
 380,
 381,
 382,
 383,
 405,
 410,
 412,
 415,
 416,
 419,
 426,
 432,
 434,
 435,
 437,
 440,
 445,
 450,
 454,
 455,
 457,
 458,
 460,
 466,
 468,
 469,
 472,
 474,
 475,
 477,
 480,
 485,
 489,
 490,
 491,
 493,
 494,
 497,
 500,
 502,
 505,
 508,
 509,
 510,
 515,
 516,
 520,
 524,
 527,
 531,
 532,
 536,
 537,
 539,
 540,
 542,
 543,
 546,
 548,
 552,
 553,
 569,
 575,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 606,
 608,
 609,
 616,
 628,
 631,
 637,
 640,
 647,
 662,
 667,
 694,
 697,
 700,
 704,
 708,
 709,
 710,
 711,
 719,
 736,
 747,
 762,
 765,
 775,
 780,
 783,
 795,
 799,
 801,
 802,
 818,
 830,
 835,
 837,
 838,
 839,
 842,
 848,
 852,
 867,
 880,
 881,
 888,
 891,
 979,
 981,
 986,
 991,
 996,
 999,
 1004,
 1006,
 1042,
 1049,
 1061,
 1064,
 1073,
 1082,
 1084,
 1,
 50,
 58,
 150,
 165,
 260,
 356,
 380,
 466,
 480,
 587,
 588,
 589,
 592,
 593,
 595,
 648,
 750,
 780,
 920,
 924,
 1101,
 1183,
 1196,
 1208,
 1210,
 1219,
 1220,
 1240,
 1246,
 1270,
 1517,
 1584,
 1610,
 1617,
 1682,
 1784,
 1917,
 1923,
 1954,
 2019,
 2324,
 2353,
 2529,
 2628,
 2640,
 2671,
 2683,
 2688,
 2701,
 2717,
 2762,
 2858,
 3114,
 3354,
 3408,
 3578,
 3623,
 3793,
 3869,
 3916,
 3977,
 3994,
 4018,
 4223,
 4246,
 4306,
 4310,
 4370,
 4643,
 4700,
 4844,
 4874,
 4886,
 4896,
 4963,
 4993,
 4995,
 5218,
 5349,
 5378,
 5445,
 5459,
 5464,
 5502,
 5618,
 5816,
 5952,
 5989,
 5991,
 6333,
 6365,
 6534,
 6539,
 6863,
 6934,
 7143,
 7153,
 7155,
 7445,
 8207,
 8360,
 8368,
 8373,
 8528,
 8636,
 8665,
 8666,
 8783,
 8798,
 8808,
 8865,
 8870,
 8907,
 8908,
 8949,
 8957,
 8958,
 8961,
 8965,
 8970,
 8972,
 8984,
 27741,
 30812,
 30816,
 ...]